<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="footer" style="margin-bottom: 0; margin-top: 30px;">
        <h2>Inspiration For Future getaways</h2>
        <div class="footer-info" style="display: flex; flex-direction: column; list-style: none; justify-content: space-around;">
            <ul style="display: flex; list-style: none; justify-content: space-around;">
                <li>Popular</li>
                <li>Arts & Culture</li>
                <li>Outdoors</li>
                <li>Mountains</li>
                <li>Beach</li>
                <li>Unique Stays</li>
            </ul>
        </div>
        <div class="footer-details">
            <div class="left-details">
                <h3>Canmore</h3>
                <p>Apartment rentals</p>
                <br>
                <h3>Marbella</h3>
                <p>Vill rentals</p>
                <br>
                <h3>Tucson</h3>
                <p>Rentals with pools</p>
            </div>
            <div class="right-details">
                <h3>Canmore</h3>
                <p>Apartment rentals</p>
                <br>
                <h3>Marbella</h3>
                <p>Vill rentals</p>
                <br>
                <h3>Tucson</h3>
                <p>Rentals with pools</p>
            </div>
        </div>
        <div class="footer-below" style="text-align: center;">
            @copyrights
            
        </div>
    </div>
</body>
</html>