<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="scroll-ticket">
        <div class="ticket">
          <a href="#">
            <img src="/img/amazingView.jpg">
            <figcaption>Amazing View</figcaption>
          </a>
        </div>
        <div class="ticket">
          <a href="#">
            <img src="/img/cabin.jpg">
            <figcaption>Cabin</figcaption>
          </a>
        </div>
        <div class="ticket">
          <a href="#">
            <img src="/img/house.jpg">
            <figcaption>House</figcaption>
          </a>
        </div>
        <div class="ticket">
          <a href="#">
            <img src="/img/amzingPool.jpg">
            <figcaption>Amzing Pools</figcaption>
          </a>
        </div>
        <div class="ticket">
          <a href="#">
            <img src="/img/amazingView.jpg">
            <figcaption>View</figcaption>
          </a>
        </div>
        <div class="ticket">
          <a href="#">
            <img src="/img/beach.jpg">
            <figcaption>Beaches</figcaption>
          </a>
        </div>
        <div class="ticket">
          <a href="#">
            <img src="/img/farm.jpg">
            <figcaption>Farm</figcaption>
          </a>
        </div>
        <div class="ticket">
          <a href="#">
            <img src="/img/lakePoint.jpg">
            <figcaption>Lake Point</figcaption>
          </a>
        </div>
        <div class="ticket">
          <a href="#">
            <img src="/img/OMG.jpg">
            <figcaption>OMG!</figcaption>
          </a>
        </div>
        <div class="ticket">
          <a href="#">
            <img src="/img/typical.jpg">
            <figcaption>Tropical</figcaption>
          </a>
        </div>
      </div>
</body>
</html>